# Sensitive Information
.env

# Python specific
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/

# MySQL / Data files
# *.sql
*.db
# *.csv
# *.json

# OS specific (especially for Ubuntu/Mac)
.DS_Store
.ipynb_checkpoints/